.hero_image {
  width: 100vw;
  height: 100vh;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../../assets//imgs/hero-image.jpg");
  background-size: cover;
}
