.tec_description_wrapper {
  margin: 50px 30px;

  .logo {
    height: 200px;
    margin: 30px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 200px;
  }

  .description {
    margin: 20px auto;
    text-align: center;
    max-width: 500px;
  }
}
