.mobileNav_wrapper {
  position: absolute;
  right: 20px;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    width: 20px;
    height: 2px;
    background-color: white;
    position: absolute;

    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 2px;
      top: -7px;
      background-color: white;
    }
    &::before {
      content: "";
      top: 7px;
      position: absolute;
      width: 25px;
      height: 2px;
      background-color: white;
    }
  }
}

@media (min-width: 768px) {
  .mobileNav_wrapper {
    display: none;
  }
}
