.contact_container {
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 70px);
  justify-content: center;
  .map_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100vw;
  }
}
