.findUs_section {
  min-height: 60vh;
  background-color: gray;
  background-image: url("../../../assets/imgs/FindUs/1280x853.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-position: center center;

  background-repeat: no-repeat;
}
.main_text {
  color: white;
  margin-bottom: 25px;
  font-size: 26px;
  padding: 0 15px;
  line-height: 1.5;
  text-align: center;
  font-weight: 700;
}

@media (min-width: 768px) {
  .findUs_section {
    background-attachment: fixed;
  }
}

@media (min-width: 1280px) {
  .findUs_section {
    background-image: url("../../../assets/imgs/FindUs/1920x1296.jpg");
  }
}
