.mainBtn {
  background-color: transparent;
  color: white;
  transition: 0.15s linear;
  border: 3px solid #fff;
  padding: 13px 34px;
  font-weight: 700;
  margin: 5px;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;

  &.secondary {
    background-color: #fff;
    color: black;
    &:hover {
      color: white;
    }
  }
  &:hover {
    background-color: #bfa67a;
    border: 3px solid #bfa67a;
  }
}

.mainHref {
  color: white;
  text-decoration: none;
  &.secondaryHref {
    color: black;
  }
}
