.offerElements_container {
  width: 100%;
  min-height: 40vh;

  display: flex;
  justify-content: center;
  padding: 50px 20px;
  align-items: center;
  flex-wrap: wrap;
  .offer_item {
    width: 360px;
    min-height: 150px;
    // background-color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    h3 {
      font-size: 15px;
      letter-spacing: 1.2px;
      //   margin-left: 10px;
    }
    p {
      font-size: 15px;
      color: #7a7a7a;
      //   margin-left: 10px;
    }
  }
}

@media (min-width: 768px) {
  .offerElements_container {
    padding: 0 240px;
    .offer_item {
      margin: 20px;
    }
  }
}
