.offerElements_container {
  width: 100%;
  min-height: 40vh;

  display: flex;
  justify-content: center;

  align-items: center;
  flex-wrap: wrap;
  .offer_item {
    min-width: 300px;
    height: 150px;
    background-color: gray;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .offerElements_container {
    padding: 0 240px;
    .offer_item {
      margin: 15px;
    }
  }
}
