.mainPage_container {
  max-width: 800px;
  text-align: center;
}
.title_container {
}

.mainTitle {
  font-size: 30px;
  transition: 1s linear opacity;
  opacity: 0;
}
.mainTitle.animated {
  font-size: 30px;
  opacity: 1;
  //   transition: 1s linear opacity;
}
.subTitle {
  font-size: 26px;
  margin: 24px 70px;
}
